$drawer-width-mobile: 280px !default;
$drawer-width-desktop: 320px !default;

$food-event: #ad4633;
$standup-event: #1f6697;
$party-event: #b43bca;
$live-event: #fd0051;
$student-event: #017d53;
$traditional-event: #0597fd;
$theater-event: #b0335b;
$movie-event: #1f9784;
$latin-event: #b0a433;
$halloween-event: #e2603e;
$christmas-event: #ed2224;
$other-event:#459701;
$carnival-event: #ff9100;
